

#title{
  background-color: #ff4c68;
  color: #fff;

}

/* ************************************** Overrides .container-fluid to new format ************************************ */
#title .container-fluid{
  padding: 3% 15% 5%;
}

/* #ff4c68 */


body{
  font-family: "Montserrat";
}

.container-fluid{
  padding: 7% 15%;
}

h1{

  font-weight:900;
  line-height: 1.5;
  font-size: 3.5rem;


}

h2{
  font-style: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;

}

.title-image{

}

.iphone-image{
  width: 50%;
  transform: rotate(25deg);
  margin-bottom: -17em;
  left: 3%;
  position: relative;


}

/* ****************************************************************************************************Media Query for the Iphone Image Section */

@media (max-width: 991px){
  #title{
   text-align: center;

  }

  .iphone-image{
    transform: rotate(0);
    position: static;
  }
}

/* Navbar */

.navbar{
  padding: 0 0 4.5rem 0;
}


.navbar-brand{

  font-size: 2.5rem;
  color: white;
  font-family: "Ubuntu";
  font-weight: bold;
}


.navbar-item{

  color: white;
  margin: 0 18px;
}


.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}



/* Navbar Buttons */


.download-button{
  margin: 5% 3% 5% 0;
}





/**************************************************************************************************** Body Stuff */







#features{

  padding: 7% 15%;
  background-color: white;
  position: relative;


}

.row{
  text-align: center;
}

.info-body{

  width: auto;
  height: 10%;
  padding: 5%;

}


.features-header{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 1rem;
}


p{
  color: gray;
}


.info-icon{
  color: #ef8172;
  font-size: 3.5rem
}

.info-icon:hover{
  color: #ff4c68;
}


/*


 .info-body-2{

  width: auto;
  height: 10%;
  padding: 3% auto;


}



.info-body-3{

  width: auto;
  height: 10%;
  padding: 3% auto;

}



.features2{
line-height: 2;
width: auto;
height: 10%;
padding: 3% auto;
}



*/




/* ************************************************************************** TESTIMONIALS*********************************************************************************** */



#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;

}


.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

.carousel-item{
  padding: 7% 15%;
}



/* ************************************************************************** PRESS SECTION *********************************************************************************** */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}



.press-logo{
  width: 12%;
  margin: 0 3% 3%;
}




/* ************************************************************************** PRICING SECTION *********************************************************************************** */


#pricing{
  padding: 5%;
  text-align: center;
}




.pricing-column{
  padding: 3% 2%;
}



/* ***************************************************************************** Footer Section ********************************************************************************/



#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-heading{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3.5em;
  color: #fff;

}



#footer{
  text-align: center;
  padding: 7% 15%;
}


.footer-logos{
  margin-bottom: 20px;
  transform: scale(130%)

}





.fa-twitter{
  margin: 0 10px 20px;
}

.fa-twitter:hover{
  color: #ff4c68;
  cursor:pointer;
}




.fa-facebook-square{
  margin: 0 10px 20px;
}

.fa-facebook-square:hover{
  color: #ff4c68;
  cursor:pointer;
}




.fa-instagram{
  margin: 0 10px 20px;
}

.fa-instagram:hover{
  color: #ff4c68;
  cursor:pointer;
}



.fa-envelope{
  margin: 0 10px 20px;
}

.fa-envelope:hover{
  color: #ff4c68;
  cursor:pointer;
}
